{% extends "base.html" %}

{% block content %}
{{ super() }}
{% if page and page.meta and page.meta.template %}
<div id="waline-container" style="margin-top: 80px;padding-top: 12px;"></div>
{% endif %}
{% endblock %}

{% block styles %}
{{ super() }}
<script async>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?9a7e804726e2d74ebf2feb610dfc61af";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<link
        rel="stylesheet"
        href="https://unpkg.com/@waline/client@v2/dist/waline.css"
/>
<style>
    .md-grid {
        max-width: 1200px;
    }
    #waline-container {
        /*border-top: 1px solid #ddd;*/
    }

    .wl-comment {
        font-size: 12px !important;
    }

    .wl-card {
        font-size: 12px;
    }

    .wl-count {
        font-size: 16px !important;
    }
    .wl-empty {
        padding: 12px !important;
        font-size: 13px !important;
    }
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
{% if page and page.meta and page.meta.template %}
<script defer src="https://unpkg.com/@waline/client@v2/dist/waline.js"></script>
<script defer>
    Waline.init(
        {
            el: '#waline-container',
            serverURL: "https://waline.bigdreamer.cc",
            locale: {
                level0: '炼体',
                level1: '炼气',
                level2: '筑基',
                level3: '金丹',
                level4: '元婴',
                level5: '化神',
            },
        }
    )
</script>
{% endif %}
{% endblock %}

